[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-on-heroku = "*"
gunicorn = "*"
pillow = "*"
django-allauth = "*"
oauth2client = "*"
google-auth = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
