{% extends 'fwn_app/base.html' %}
{% load static %}

{% block title %}

Calendar
{% endblock %}

{% block content %}
<main>
  <div class= 'container'>
    <div class='section'>
      <a class="btn btn-info left" href="{% url 'fwn_app:calendar' %}?{{ prev_month }}"> Previous Month </a>
      <a class="btn btn-info right" href="{% url 'fwn_app:calendar' %}?{{ next_month }}"> Next Month </a>
    </div>
    {{ calendar }}
  </div>
  <div class="container">
    <div class='section'>
      <a class="btn btn-info left" href="{% url 'fwn_app:event_new' %}"> New Event </a>
    </div>
  </div>
</main>
{% endblock %}
