{% extends 'fwn_app/base.html' %}
{% load static %}
{% block content %}
<main>
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center grey-text text-darken-4">Fun with Neighbors</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-darken-4">Caring People, Strong Community</h5>
        </div>
        <div class="row center">
          <a href="#" id="Search-button" class="btn-large waves-effect waves-light grey">Search for an idea you like</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax opacity"><img src="{% static 'threefriend.png' %}" alt="3 friends"></div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">groups</i></h2>
            <h5 class="center">Events</h5>

            <p class="light center-align">Things to come do</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">quickreply</i></h2>
            <h5 class="center">Spur of the moment</h5>

            <p class="light center-align">Right Now!</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">batch_prediction</i></h2>
            <h5 class="center">Ideas</h5>

            <p class="light center-align">Books, classes, and friendships that make us better</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <table>
        <thead>
            <tr>
                <th class="center">Ideas</th>
                <th class="center">Tags</th>
                <th class="center">Events</th>
                               
            </tr>
        </thead>
        <form action="{% url 'fwn_app:index' %}" method="POST"> {% csrf_token %}
        <!-- <tbody>
            {% for edition in titles %}
            <tr>
                <td><a href="#">{{edition.title}}</a></td>
                <td><dl>{% for genre in edition.genre.all %}
                  <dt>{{genre}}</dt>
                {% endfor %}</dl></td>
                <td><dl>{% for author in edition.author.all %}
                  <dt>{{author}}</dt>
                {% endfor %}</dl></td>
                <td>
                  <dt>{{edition.copies}}</dt>
                </td>
                <td>
                  <button>Checkout</button>
                </td>
            </tr>
            {% endfor %}
        </tbody> -->
        </form>
    </table>
  </div>

    </div>
  </div>
  
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><a href="#" id="calendar-button" class="btn-large waves-effect waves-light grey">Calendar</a></h4>
        </div>
      </div>

    </div>
  </div>
  
</main>
{% endblock %}